<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapseibleNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapseibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-action="index" asp-controller="home" class="nav-link">
                            Student Record
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="create" asp-controller="home" class="nav-link">
                            Create
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="search" asp-controller="home" class="nav-link">
                            Search
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
